    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }
    /*navbar section*/
    
    .navbar {
        height: 60px;
        width: 100%;
        background: #131313;
        top: 0;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 0 64px;
        z-index: 1;
    }
    
    .navbar__container {
        display: flex;
        margin-right: auto;
    }
    
    .logo {
        color: aliceblue;
        text-decoration: none;
        font-size: 32px;
        font-weight: bold;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .logo:hover {
        color: rgb(255, 118, 118);
        transition: all 0.3s ease;
    }
    
    .navbar-link {
        color: aliceblue;
        text-decoration: none;
        padding: 18px 28px;
        font-size: 20px;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .navbar-link:hover {
        color: rgb(255, 118, 118);
        transition: all 0.3s ease;
    }
    
    #signup {
        border: 1px none;
        padding: 6px 16px;
        background: linear-gradient(to right, #5c5656, rgb(255, 255, 255));
        border-radius: 20px;
        outline: none;
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    #signup:hover {
        color: rgb(255, 118, 118);
        background: black;
    }
    /*slideshow*/
    
    .mySlides {
        display: none;
    }
    
    img {
        vertical-align: middle;
    }
    /* Slideshow container */
    
    .slideshow-container {
        padding-top: 60px;
        position: relative;
        margin: auto;
    }
    /* Next & previous buttons */
    
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Caption text */
    
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    /* The dots/bullets/indicators */
    
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active,
    .dot:hover {
        background-color: #717171;
    }
    /* Fading animation */
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: .4;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fade {
        from {
            opacity: .4;
        }
        to {
            opacity: 1;
        }
    }
    /*content section*/
    
    .about__content {
        padding: 0 64px 32px 64px;
        font-size: 18px;
        height: 100%;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .about__heading {
        padding: 28px 0;
        text-align: center;
        font-family: 'Gemunu Libre', sans-serif;
    }
    /*character section*/
    
    #character {
        width: 100%;
        background: black;
        height: 2200px;
    }
    
    .img1 {
        margin: 32px 10%;
        border-radius: 50%;
    }
    
    .character__heading {
        display: inline-block;
        position: absolute;
        padding: 144px 60px;
        text-align: center;
        color: aliceblue;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .character__link {
        text-decoration: none;
        color: aliceblue;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .character__link:hover {
        color: rgb(255, 118, 118);
        transition: all 0.3s ease;
    }
    /*footer section*/
    
    .footer {
        height: 100px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .footer-text {
        font-size: 20px;
        padding: 8px 0;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .footer-text1 {
        padding: 8px 0;
    }
    
    .btn2 {
        border: none;
        outline: none;
        border-radius: 20px;
        padding: 4px 12px;
        font-size: 20px;
        font-family: 'Gemunu Libre', sans-serif;
    }
    
    .btn2:hover {
        cursor: pointer;
        color: #fff;
        background: black;
    }
    
    .icon:hover {
        cursor: pointer;
    }
    /* On smaller screens, decrease text size */
    
    @media only screen and (max-width: 450px) {
        .prev,
        .next,
        .text {
            font-size: 10px;
            margin-top: 0;
        }
        .dot {
            height: 10px;
            width: 10px;
        }
    }
    
    @media screen and (max-width: 960px) {
        .navbar__container {
            display: flex;
            justify-content: space-between;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }
        .navbar__menu {
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: absolute;
            top: -1000px;
            opacity: 1;
            transition: all 0.8s ease;
            z-index: -1;
            text-align: center;
            justify-content: center;
            right: 0;
        }
        .navbar__menu.active {
            background: black;
            top: 100%;
            opacity: 1;
            transition: all 0.8s ease;
            z-index: 99;
            height: 200vh;
        }
        #navbar__logo {
            padding-left: 25px;
        }
        .navbar__toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
            background: #fff;
        }
        .navbar__item {
            width: 100%;
        }
        .navbar-link {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            font-size: 24px;
        }
        .navbar-btn {
            text-align: center;
            padding: 2rem;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 120px;
        }
        #contactus {
            margin-bottom: 28px;
        }
        #signup {
            margin-top: 12px;
            padding: 20px 80px;
            font-size: 24px;
            border-radius: 32px;
        }
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80px;
            margin: 0;
        }
        #mobile-menu {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(5%, 20%);
        }
        .navbar__toggle .bar {
            display: block;
            cursor: pointer;
        }
        .about__content {
            padding-left: 32px;
            padding-right: 32px;
        }
        #character {
            height: 80%;
        }
        .character__img {
            display: flex;
            justify-content: center;
        }
        .img1 {
            margin-top: 80px;
            height: 50%;
            width: 50%;
        }
        .character__heading {
            padding: 8px;
            font-size: 24px;
        }
        #mobile-menu {
            position: absolute;
            right: 5%;
            top: 10%;
        }
        .logo {
            font-size: 20px;
        }
        .navbar {
            padding: 0 40px;
        }
        #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
        }
        #mobile-menu.is-active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }